<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../public/assets/js/cadastro-usuario.js" defer></script>
    <link rel="stylesheet" href="../public/assets/css/style.css" />
    <title>Cadastrar Usuário</title>
</head>

<body>
    <h1>Cadastro de Usuário</h1>

    <form id="form-usuario">
        <label>
            Nome:
            <input type="text" id="nome" required />
        </label>

        <label>
            Tipo:
            <select id="tipo" required>
                <option value="">Selecione</option>
                <option value="aluno">Aluno</option>
                <option value="servidor">Servidor</option>
            </select>
        </label>

        <div id="campo-extra"></div>

        <button type="submit">Cadastrar</button>
    </form>

    <p id="mensagem"></p>
</body>

</html>